<!DOCTYPE html>
<html lang='es'>
  <head>
    <meta charset='utf-8'>
    <title>{% block titulo %}{% endblock %}</title>
    <link type="text/css" rel = "stylesheet" href = "dist\css\bootstrap.css">
    <link type="text/css" rel = "stylesheet" href = "dist\css\bootstrap.min.css">
    {% block style_css %}{% endblock %}
  </head>
  <body>
    <header>
      {% block encabezado %}{% endblock %}
      <hr>
      {%  block descripcion%}{% endblock %}
    </header>	
    <section class='contenido'>
	   {% block contenido %}{% endblock %}
    </section>
  </body>
</html>